<!-- Navigation Bar -->

  <div style="background-color: #f0f0f0; padding: 10px; border-bottom: 2px solid #ccc;">
  <img src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png" alt="Student Portal Logo" class="logo" style="width: 50px; height: 60px;" />
  <h1 class="app-title">Student Portal</h1><br>
  <button routerLink="/" style="margin-right: 10px;">🏠 Home</button>
  <button routerLink="/students" style="margin-right: 10px;">📋 Student List</button>
  <button routerLink="/add-student">➕ Add Student</button>
</div>

<div style="margin: 20px;">
  <router-outlet></router-outlet>
</div>
